<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/logo.png" alt="company logo"><span>Vehicle Insure</span>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminhome">
      <mat-icon>perm_identity</mat-icon> User
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admindashboard">
      <mat-icon>dashboard</mat-icon> Policy
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminclaim"> 
      <mat-icon>edit</mat-icon> Claim 
    </a>
</mat-nav-list>
