<app-header></app-header>
<div class="cover mb-5">
    <!-- <div class="image">
      <img src="../assets/bgimg1.jpg" class="img-fluid">
    </div> -->
    <div class="slide-content p-4">
      <div class="slide-title mb-2">
        <div style="color: #768089; font-size: 30px;">Get your </div>
        <div style="color: #0f75bd; font-size: 30px;">Vehicle Insurance</div>
      </div>
      <p class="mb-3" style="color: #768089;">Getting insurance is your responsibility to your family and loved ones. You
        may hate it but it is your responsibility.</p>
      <button class="btn btn-outline-primary mb-2">Check Plans</button>
    </div>
  </div>
  
  <div class="content container">
    <div class="head mb-2">
      <h1 class="text-center" style="color: #768089;">Welcome to our website</h1>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="feature p-3">
          <i class="fa-light fa-phone"></i>
          <h3 class="text-center">24 hours Service</h3>
          <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="feature p-3">
          <i class="icon-phone m-3"></i>
          <h3 class="text-center">Easy to buy</h3>
          <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="feature p-3">
          <i class="icon-phone m-3"></i>
          <h3 class="text-center">Fastest claim</h3>
          <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
